<app-navbar></app-navbar>


<div class="card card-cascade pt-5">

  <div class="card-body card-body-cascade text-center">
  <div class="repos" *ngFor="let x of repos">
    <h4 class="card-title"><strong>REPO NAME: {{x.name}}</strong></h4>
    
    <h6 class="font-weight-bold indigo-text py-2">Web developer</h6>
    
     <p class="font-weight-bold indigo-text py-2">DESCRIPTION: {{x.description}}</p>

  <div class="card-footer text-muted text-center">
    <p>DATE CREATED: {{x.created_at}}</p>
  </div>
  </div>
  </div>

</div>